@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hurricane&family=Lilita+One&display=swap');

.img-fluid{
    height: 200px;
}

#mainTitelB, #mainTitelS {
    font-size: 100px;
    font-style: oblique;
    padding: 0; 
    margin: 0;
    line-height: 1;
    color: #FFB33F;
}

#mainTitelS {
    font-size: 100px;
    font-style: oblique;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: white
}


.main-title {
    font-size: 80px;
    color: #FFD150;
    font-weight: 900;
    height: 60px;
}

.sub-title {
    font-size: 32px;
    color: white;
    /* margin-left: 74px;
    padding-top: 20px; */
    font-weight: 600;

}


.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hurricane-regular {
  font-family: "Hurricane", cursive;
  font-weight: 400;
  font-style: normal;
}

